[Unit]
Description=Clean-up Script
Before=basic.target
After=sysint.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/clean-up.sh

[Install]
WantedBy=basic.target

